/* - White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%) */
/* - Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%) */
/* - Family: [Plus Jakarta Sans](https://fonts.google.com/specimen/Plus+Jakarta+Sans)
- Weights: 500, 700 */

h1 {
    color: hsl(202, 55%, 16%);
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;

}

h2 {
    color: hsl(200, 24%, 40%);
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    font-weight: 500;
}

h4 {
    color: hsl(202, 86%, 94%);
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

p {
    color: hsl(200, 24%, 40%);
    text-decoration: underline;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
}

span {
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.8125rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    outline: none;
    border: 1.4px solid hsl(200, 24%, 40%);
    overflow: hidden;
    cursor: pointer;
}
.input-container:focus-within{
    border: 1px solid hwb(61 18% 15%);
    background-color: hsla(61, 70%, 52%, 0.144);
}
.input-container-years:focus-within{
    border: 1px solid hwb(61 18% 15%);
    background-color: hsla(61, 70%, 52%, 0.144);
}
.input-container:focus-within .libra{
    border: none;
    background-color: hsl(61, 70%, 52%);
    color: hsl(202, 55%, 16%);
}
.input-container-years:focus-within .years{
    border: none;
    background-color: hsl(61, 70%, 52%);
    color: hsl(202, 55%, 16%);
}
.input-container-years:focus-within .porcentaje{
    border: none;
    background-color: hsl(61, 70%, 52%);
    color: hsl(202, 55%, 16%);
}
.input-container-years {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 2.8125rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    outline: none;
    border: 1.4px solid hsl(200, 24%, 40%);
    overflow: hidden;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}


.amount-data {
    padding-left: 10px;
    font-size: 1rem;
    color: hsl(202, 55%, 16%);
    text-decoration: none;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    font-weight: 700;

}

.amount-all {
    padding-left: 10px;
    font-size: 1rem;
    color: hsl(202, 55%, 16%);
    text-decoration: none;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    font-weight: 700;

}

.libra {
    background-color: hsl(202, 86%, 94%);
    color: hsl(202, 55%, 16%);
    text-align: center;
    margin-top: 0px;
    margin-left: 0px !important;
    width: 2.8125rem;
    height: 2.72rem;
    border-radius: 2px 0px 0px 2px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    -webkit-border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    -ms-border-radius: 2px 0px 0px 2px;
    -o-border-radius: 2px 0px 0px 2px;
}

.years {
    background-color: hsl(202, 86%, 94%);
    text-align: center;
    margin-top: 0px;
    margin-left: 0px !important;
    width: 3.8125rem;
    height: 2.72rem;
    border-radius: 0px 2px 2px 0px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -ms-border-radius: 0px 2px 2px 0px;
    -o-border-radius: 0px 2px 2px 0px;
}

.porcentaje {
    background-color: hsl(202, 86%, 94%);
    text-align: center;
    margin-top: 1px;
    margin-left: 1px !important;
    width: 3.8125rem;
    height: 2.72rem;
    border-radius: 0px 2px 2px 0px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -ms-border-radius: 0px 2px 2px 0px;
    -o-border-radius: 0px 2px 2px 0px;
}

.repayment {
    height: 2.8125rem;
    border: 1.4px solid hsl(200, 24%, 40%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.mortgage {
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    color: hsl(202, 55%, 16%);
}

.submit {
    margin-top: 5%;
    width: 21.25rem !important;
    height: 3.1rem;
    border: 0 solid hsl(200, 24%, 40%);
    background-color: hsl(61, 70%, 52%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    color: hsl(202, 55%, 16%);
}

.bg-results {
    width: 100%;
    height: 450px;
    background-color: hsl(202, 55%, 16%);

}

.copy {
    font-weight: 300;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    color: hsl(202, 86%, 94%);
    font-size: 1rem;
}

.bg-primary {
    width: 100%;
    height: 23px;
    background-color: hsl(61, 70%, 52%) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bg-secondary {
    position: absolute;
    margin-top: 1% !important;
    min-width: 21.5rem;
    min-height: 14.375rem;
    background-color: #0e2431 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.results {
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    color: hsl(61, 70%, 52%);
    font-size: 2rem;
}

.results-replay {
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
}

.divisor {
    margin: auto;
    width: 90%;
}

.empty>p {
    text-align: center;
    font-weight: 300;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    text-decoration: none;
    color: hsl(202, 86%, 94%);
    font-size: 1rem;
}

#clear {
    cursor: pointer;
}

.empty>img {
    margin: auto;
    width: 200px;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    color: hsl(4, 69%, 50%);
    text-decoration: none;
    font-weight: 500;
    font-size: .8rem;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    padding-top: 5px;
    margin: 0;
    position: absolute;
    
}
@media (min-width: 768px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        background-color: hsl(203, 41%, 72%);
    }
    .container {
        height: 100vh;
        
    }
    .mort {
        display: flex !important;
        width: 900px;
        height: 53%;
        margin-top: 10% !important;
        background-color: white;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .bg-results {
        height: 500px;
        border-radius: 0px 30px 30px 80px;
        -webkit-border-radius: 0px 30px 30px 80px;
        -moz-border-radius: 0px 30px 30px 80px;
        -ms-border-radius: 0px 30px 30px 80px;
        -o-border-radius: 0px 30px 30px 80px;
    }

    .submit {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-primary {
        width: 410px;

    }

    .bg-secondary {
        position: absolute;
        margin-top: 2px !important;
        width: 410px;
        height: 260px;
    }

    .final-result {
        margin-top: 2%;

    }

    .results {
        font-size: 3rem;
    }
    .opt {
        gap: 10px;
    }
    .titulo {
        font-size: 1rem !important;
    }
    .libra {
        background-color: hsl(202, 86%, 94%);
        color: hsl(202, 55%, 16%);
        text-align: center;
        margin-top: 1px;
        margin-left: 1px !important;
        width: 2.8125rem;
        height: 2.645rem;
        border-radius: 2px 0px 0px 2px;
        font-weight: 700;
        font-family: "Plus Jakarta Sans", serif;
        font-style: normal;
        text-decoration: none;
        -webkit-border-radius: 2px 0px 0px 2px;
        -moz-border-radius: 2px 0px 0px 2px;
        -ms-border-radius: 2px 0px 0px 2px;
        -o-border-radius: 2px 0px 0px 2px;
    }
    
    .years {
        background-color: hsl(202, 86%, 94%);
        text-align: center;
        margin-top: 1px;
        margin-right: 1px !important;
        width: 3.9125rem;
        height: 2.72rem;
        border-radius: 0px 2px 2px 0px;
        font-weight: 700;
        font-family: "Plus Jakarta Sans", serif;
        font-style: normal;
        text-decoration: none;
        -webkit-border-radius: 0px 2px 2px 0px;
        -moz-border-radius: 0px 2px 2px 0px;
        -ms-border-radius: 0px 2px 2px 0px;
        -o-border-radius: 0px 2px 2px 0px;
    }
    
    .porcentaje {
        background-color: hsl(202, 86%, 94%);
        text-align: center;
        margin-top: 1px;
        margin-right: 1px !important;
        width: 3.9125rem;
        height: 2.72rem;
        border-radius: 0px 2px 2px 0px;
        font-weight: 700;
        font-family: "Plus Jakarta Sans", serif;
        font-style: normal;
        text-decoration: none;
    }
}
@media (min-width: 1500px){
    .mort {
        display: flex !important;
        width: 900px;
        height: 500px;
        margin-top: 15% !important;
        background-color: white;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
} 
}
.control {
    
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 14px;
}
 .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    margin-left: 10px;
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    background: #ffffff;
    border: 1px solid #616161;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #d5d82f;

}

.control input:checked ~ .control_indicator {
   

   border: 1px solid #d5d82f;
    
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff;
}
.control input:disabled ~ .control_indicator {
    background: #d5d82f;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator {
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 3px;
    top: 3px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #d5d82f;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #ffffff;
}